.menu {
    background-color: #f1f1f1;
    box-shadow: 4px 5px 15px rgba(0,0,0,0.5);
}

.menu li {
    display: inline-block;
    vertical-align: top;
}


.menu li {
    display: inline-block;
    vertical-align: top;
    padding: 35px;
}

.menu li:hover {
    background-color: #f87777;
}

.menu li:hover {
    background-color: #f87777;
    cursor: pointer;
    color: #f8f8f8;
}


.menu li {
    display: inline-block;
    vertical-align: top;
    padding: 35px;
    color: #6f6d6d;
}

.menu ul {
    padding: 0px;
}

.menu {
    background-color: #f1f1f1;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;

}



.login {
    display: inline-block;
    margin-top: 20px;
}

a {
    background-color: #f1f1f1;
    color: #6f6d6d;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #555;
    cursor: pointer;
}

a:active {
    background-color: black;
}